<div class="container">
  <h1 class="text-center my-3">Outfits</h1>

  <% @outfits.each do |outfit| %>
    <div class="card-product">
    <% if outfit.photos.attached? %>
      <%= cl_image_tag outfit.photos.first.key %>
      <% end %>
      <div class="card-product-infos">
        <div class="card-name">
          <h2><%= link_to "#{outfit.name}", outfit_path(outfit) %></h2>
          <h3><%= outfit.location %></h3>
          <p><%= outfit.description %></p>
        </div>
        <div class="card-price">
          <h3><%= "#{outfit.price_per_day} €" %></h3>
        </div>
      </div>
    </div>
  <% end %>

  <% if policy(Outfit).new? %>
    <%= link_to 'Add new Outfit', new_outfit_path %>
  <% end %>

</div>
