<div class="container">
  <h1 class="text-center my-3">Outfits</h1>

    <div class="cards-trip">
      <% @outfits.each do |outfit| %>
        <%= link_to outfit_path(outfit) do %>
         <div class="card-trip">
            <% if outfit.photos.attached? %>
              <%= cl_image_tag outfit.photos.first.key %>
            <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= outfit.name %></h2>
              <h3><%= outfit.address %></h3>
              <p><%= outfit.description %></p>
            </div>
            <h2><%= "#{outfit.price_per_day}€" %></h2>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  <img id="map" src="#">

  <%# <% if policy(Outfit).new? %>
    <%# <%= link_to 'Add new Outfit', new_outfit_path %>
  <%# <% end %>

</div>
