<div class="show-container d-flex justify-content-center mt-5 mb-5">

  <%# <% @outfits.each do |outfit| %>
    <%# <%= cl_image_tag outfit.photos.first.key %>
  <%# <% end %>
    <% @outfit.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class:"show-picture" %>
    <% end %>

  <div class="show-details">
    <h2><%= @outfit.name %></h2>
    <p><%= @outfit.description %></p>
    <h3 class="show-price"><%= "#{@outfit.price_per_day} €" %></h3>
    <div class="show-btn">Book
    </div>
  </div>

</div>

<div class="container">
  <div id="map"></div>
</div>

<div class="container">
  <%= link_to 'Back', outfits_path, class:"btn-ghost btn-back" %>
</div>
